* {
    text-align: center;
}
#maintitle {
    background: url(./images/texture1.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
  }
body {
    background-color: lightseagreen;
    margin: 50px;
}
h1 {
    background-color: lightskyblue;
    border-style: solid;
    border-color: darkblue;
    padding: 50px;


}
h2 {
    border-style: dashed;
    border-color: rgb(212, 86, 86);
   
}
h4 {
    background-color: lightseagreen;
    padding: 10px;
}
ul {
    list-style-position: inside;
    list-style-type: none;
    background-image: url(./images/texture2.jpg);
        background-repeat:repeat;
    border-style: solid;
    border-color: darkblue;
    padding: 50px;
    
    
}
ul li:before {
    content: "\200B"; /* added for accessibility */
    content: '\22C6';
    font-weight: bold;
}

ul li {
    background-color: lightcoral;
    padding: 5px;
  
}

div {
    padding: 25px 50px 25px 50px;
    
}

.even {
    background-image: url(./images/texture2.jpg);
    background-repeat:repeat;
    border-style: solid;
}

.subhead {
    border-style: solid;
    border-color: lightcoral;
}